ul {
  list-style-type: none;
  margin: 0;
  padding: 6px;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li.test {
  padding-left: 55%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  font-size: 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
