<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Joueur</th>
      <th scope="col">Apps</th>
      <th scope="col">Mins</th>
      <th scope="col">Buts</th>
      <th scope="col">P.Décisives</th>
      <th scope="col">Jau</th>
      <th scope="col">Rou</th>
      <th scope="col">TpM</th>
      <th scope="col">PR%</th>
      <th scope="col">AérienGangés</th>
      <th scope="col">HdM</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Robert Lewandoski</th>
      <td>17</td>
      <td>1451</td>
      <td>1</td>
      <td>1</td>
      <td>4.5</td>
      <td></td>
      <td>1.6</td>
      <td>4</td>
      <td>17</td>
      <td>1451</td>


    </tr>
    <tr>
      <th scope="row"> Erling Haaland </th>
      <td>10</td>
      <td>951</td>
      <td>4</td>
      <td>1</td>
      <td></td>
      <td>70.2</td>
      <td>1.6</td>
      <td>4</td>
      <td>1.6</td>
      <td>4</td>
    </tr>

  </tbody>
</table>
